Repository zagrebelnio/excursion-mate, pull requests merged in 2024-12, with the labels that each got.

#9 Feat create home page
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/public/backgrounds/image 1.png
  frontend/public/backgrounds/image 2.jpg
  frontend/public/backgrounds/image 3.jpg
  frontend/public/backgrounds/image 4.jpg
  frontend/public/backgrounds/image 5.jpg
  frontend/public/backgrounds/image 6.jpg
  frontend/public/backgrounds/image 7.jpg
  frontend/public/backgrounds/image 8.jpg
  frontend/public/file.svg
  frontend/public/globe.svg
  frontend/public/next.svg
  frontend/public/vercel.svg
  frontend/public/window.svg
  frontend/src/app/favicon.ico
  frontend/src/app/fonts/GeistMonoVF.woff
  frontend/src/app/fonts/GeistVF.woff
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/tailwind.config.ts
  package.json
Labels: feature, frontend

#10 Feat add registration page
  frontend/package-lock.json
  frontend/package.json
  frontend/public/socials/facebook.svg
  frontend/public/socials/google.svg
  frontend/src/app/auth/page.tsx
  frontend/src/app/components/registrationForm.tsx
  frontend/src/app/page.tsx
Labels: feature, frontend

#11 Feat add login page
  frontend/src/app/components/loginForm.tsx
Labels: feature, frontend

#12 feat: add profile page
  frontend/public/placeholders/profile-avatar.svg
  frontend/src/app/profile/page.tsx
Labels: feature, frontend

#14 Feat add sidebar
  frontend/src/app/components/sidebar.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
Labels: feature, frontend

#17 Feat set up formatter
  frontend/.eslintignore
  frontend/.eslintrc.json
  frontend/.prettierignore
  frontend/.prettierrc
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/auth/page.tsx
  frontend/src/app/components/loginForm.tsx
  frontend/src/app/components/registrationForm.tsx
  frontend/src/app/components/sidebar.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/tailwind.config.ts
Labels: feature, frontend

#18 feat: add edit page
  frontend/src/app/profile/edit/page.tsx
  frontend/src/app/profile/page.tsx
Labels: feature, frontend

#26 Authorization via email & Authentication
  backend/Controllers/AuthController.cs
  backend/Controllers/ExcursionsController.cs
  backend/Controllers/WeatherForecastController.cs
  backend/Data/ExcursionDbContext.cs
  backend/Mappings/AutoMapperProfiles.cs
  backend/Migrations/20241204181035_Initial commit.Designer.cs
  backend/Migrations/20241204181035_Initial commit.cs
  backend/Migrations/ExcursionDbContextModelSnapshot.cs
  backend/Models/DTO/ExcursionDTO.cs
  backend/Models/DTO/LoginDTO.cs
  backend/Models/DTO/LoginRequestDTO.cs
  backend/Models/DTO/LoginResponseDTO.cs
  backend/Models/DTO/RegisterDTO.cs
  backend/Models/DTO/RegisterRequestDTO.cs
  backend/Models/Domain/Excursion.cs
  backend/Models/Domain/User.cs
  backend/Program.cs
  backend/Repositories/IExcursionRepository.cs
  backend/Repositories/ITokenRepository.cs
  backend/Repositories/SQLExcursionRepository.cs
  backend/Repositories/TokenRepository.cs
  backend/Seed/RoleSeedData.cs
  backend/WeatherForecast.cs
  backend/backend.csproj
Labels: feature, backend

#27 Feat add excursions page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/auth/page.tsx
  frontend/src/app/excursions/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/excursionCard.tsx
  frontend/src/components/loginForm.tsx
  frontend/src/components/registrationForm.tsx
  frontend/src/components/sidebar.tsx
  frontend/src/types/excursion.ts
Labels: feature, frontend

#32 Retrieve user information in profile and updating
  backend/Controllers/AuthController.cs
  backend/Controllers/ExcursionsController.cs
  backend/Controllers/UsersController.cs
  backend/Mappings/AutoMapperProfiles.cs
  backend/Migrations/ExcursionDbContextModelSnapshot.cs
  backend/Models/DTO/UpdateUserProfileDTO.cs
  backend/Models/DTO/UserProfileDTO.cs
  backend/Models/Domain/Excursion.cs
  backend/Models/Domain/User.cs
  backend/Program.cs
  backend/Repositories/IUserRepository.cs
  backend/Repositories/SQLUserRepository.cs
  backend/Services/ITokenService.cs
  backend/Services/TokenService.cs
  backend/backend.csproj
  backend/backend.xml
Labels: feature, backend

#34 Feat connect authorization
  backend/Program.cs
  frontend/env.example
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/app/auth/page.tsx
  frontend/src/components/loginForm.tsx
  frontend/src/components/registrationForm.tsx
  frontend/src/lib/axios/axiosInstance.ts
  frontend/src/types/auth.ts
Labels: feature, frontend, backend

#37 Feat add search section on home page
  frontend/src/app/excursions/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/components/excursionCards.tsx
  frontend/src/context/filtersContext.tsx
  frontend/src/store/excursions.ts
Labels: feature, frontend

#40 fix: set file path to relative
  backend/backend.csproj
Labels: backend, fix

#43 Feat add user data
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/app/profile/edit/page.tsx
  frontend/src/app/profile/layout.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/app/providers.tsx
  frontend/src/components/loginForm.tsx
  frontend/src/components/registrationForm.tsx
  frontend/src/components/sidebar.tsx
  frontend/src/context/userContext.tsx
  frontend/src/lib/axios/axiosInstance.ts
  frontend/src/services/userService.ts
Labels: feature, frontend

#53 Feat connect excursions
  backend/Controllers/ExcursionsController.cs
  backend/Validation/ValidateModelAttribute.cs
  frontend/public/placeholders/excursion.png
  frontend/src/app/excursions/[id]/page.tsx
  frontend/src/app/excursions/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/profile/excursions/edit/[id]/page.tsx
  frontend/src/app/profile/excursions/new/page.tsx
  frontend/src/app/profile/excursions/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/app/providers.tsx
  frontend/src/components/excursionCards.tsx
  frontend/src/components/excursionForms.tsx
  frontend/src/context/filtersContext.tsx
  frontend/src/hooks/useExcursions.tsx
  frontend/src/services/excursionService.ts
  frontend/src/store/excursions.ts
  frontend/src/types/excursion.ts
Labels: feature, frontend, backend, fix

#62 Methods for admin panel
  backend/Controllers/AdminController.cs
  backend/Mappings/AutoMapperProfiles.cs
  backend/Models/DTO/UserWithRoleDTO.cs
  backend/Program.cs
  backend/Repositories/IUserRepository.cs
  backend/Repositories/SQLUserRepository.cs
  backend/Services/AdminService.cs
  backend/Services/IAdminService.cs
  backend/Services/ITokenService.cs
  backend/Services/TokenService.cs
  backend/Validation/ExcursionOwnerAuthorizationFilter.cs
Labels: feature, backend

#61 Feat connect saved
  frontend/src/app/excursions/[id]/page.tsx
  frontend/src/app/excursions/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/app/profile/saved/page.tsx
  frontend/src/components/excursionCards.tsx
  frontend/src/hooks/useExcursions.tsx
  frontend/src/services/excursionService.ts
  frontend/src/types/excursion.ts
Labels: feature, frontend

#64 Refactor return information for admin panel
  backend/Services/AdminService.cs
  backend/Services/IAdminService.cs
Labels: backend, fix

#65 Feat admin panel
  frontend/src/app/admin/excursions/edit/[id]/page.tsx
  frontend/src/app/admin/excursions/page.tsx
  frontend/src/app/admin/layout.tsx
  frontend/src/app/admin/page.tsx
  frontend/src/app/admin/users/page.tsx
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/app/ban/page.tsx
  frontend/src/app/excursions/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/loginForm.tsx
  frontend/src/components/redirectBanned.tsx
  frontend/src/components/sidebar.tsx
  frontend/src/hooks/useExcursions.tsx
  frontend/src/services/excursionService.ts
  frontend/src/services/userService.ts
Labels: feature, frontend

#70 Feat connect reactions
  frontend/src/app/admin/excursions/edit/[id]/page.tsx
  frontend/src/app/admin/excursions/page.tsx
  frontend/src/app/admin/users/page.tsx
  frontend/src/app/excursions/[id]/page.tsx
  frontend/src/app/excursions/[id]/skeleton.tsx
  frontend/src/app/excursions/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/not-found.tsx
  frontend/src/app/page.tsx
  frontend/src/app/profile/excursions/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/components/confirmationModal.tsx
  frontend/src/components/excursionCards.tsx
  frontend/src/components/footer.tsx
  frontend/src/hooks/useExcursions.tsx
  frontend/src/services/excursionService.ts
Labels: feature, frontend, fix

#71 Registration for the excursion
  backend/Controllers/BookingController.cs
  backend/Mappings/AutoMapperProfiles.cs
  backend/Models/DTO/ExcursionDetailsDTO.cs
  backend/Models/DTO/ExcursionUserDTO.cs
  backend/Program.cs
  backend/Repositories/BookingRepository.cs
  backend/Repositories/IBookingRepository.cs
  backend/Services/BookingService.cs
  backend/Services/ExcursionService.cs
  backend/Services/IBookingService.cs
Labels: feature, backend

#72 Weather in excursion details
  backend/Controllers/ExcursionsController.cs
  backend/Mappings/AutoMapperProfiles.cs
  backend/Models/DTO/ExcursionDetailsDTO.cs
  backend/Models/DTO/WeatherForecastDTO.cs
  backend/Models/Domain/WeatherForecastResponse.cs
  backend/Program.cs
  backend/Repositories/SQLExcursionRepository.cs
  backend/Services/IWeatherService.cs
  backend/Services/WeatherService.cs
  backend/backend.csproj
Labels: feature, backend, conflict

#76 Refactor CanRegister property
  backend/Repositories/IExcursionRepository.cs
  backend/Repositories/SQLExcursionRepository.cs
  backend/Services/ExcursionService.cs
Labels: duplicate, backend

#79 Feat connect booking
  frontend/src/app/excursions/[id]/page.tsx
  frontend/src/app/not-found.tsx
  frontend/src/app/profile/bookings/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/hooks/useExcursions.tsx
  frontend/src/services/excursionService.ts
Labels: feature, frontend

#80 Fix method for view excursion
  backend/Repositories/IExcursionRepository.cs
  backend/Repositories/SQLExcursionRepository.cs
  backend/Services/ViewedExcursionService.cs
Labels: backend, fix

#81 Feat connect recommendations
  frontend/src/app/excursions/[id]/page.tsx
  frontend/src/app/page.tsx
  frontend/src/services/excursionService.ts
Labels: feature, frontend
